<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Demo Account -->
    <add key="PayboardPublicApiKey" value="A5078A13-2EA5-4DC9-929B-9913CA2C0741"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>